---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import "variables";

body {
    margin: 60px auto;
    width: 70%;
}
@media (max-width: 1200px) {
    body {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}
li {
    font-size: 1.5em;   
}
code {
    font-size: 1.5em;   
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: $link-color;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: $text-color;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.share-page {
    margin-bottom: 20px;
}
pre {
    white-space: pre-wrap;   
}


