---
layout: default
title: Michael Troger's Repositories
---
<h1>{{ page.title }}</h1>
{% assign totalStars = 0 %}
{% assign totalForks = 0 %}
{% assign repos = site.github.public_repositories %}
{% for repo in repos %}
  {% assign totalStars = totalStars | plus: repo.stargazers_count %}
  {% assign totalForks = totalForks | plus: repo.forks_count %}
{% endfor %}
<p>
Total received stars for repos: {{ totalStars }}
Total forks from repos: {{ totalForks }}
</p>
<ul>
{% assign repos = site.github.public_repositories | sort: 'stargazers_count' | reverse %}
{% for repo in repos %}
  <li><a href="{{ repo.html_url }}">{{ repo.name }}</a>
    {% if repo.description %}
       <br>{{ repo.description }}
    {% endif %}
    <br>Stars: {{ repo.stargazers_count }} | Forks: {{ repo.forks_count }}
  </li>
{% endfor %}
</ul>
