$link-color: #999;
$text-color: #333;
$font-size-regular: 1.5rem;
$font-size-small: 1.1rem;
$font-size-large: 2rem;
$font-size-xlarge: 3rem;
$font-size-regular-smallscreen: 1.2rem;
$font-size-small-smallscreen: 0.9rem;
$font-size-large-smallscreen: 1.5rem;
$font-size-xlarge-smallscreen: 1.8rem;