<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
					<li><a href="/repositories">Repositories</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://michaeltroger.com/contact">Contact me</a></li>
	        		<li><a href="https://michaeltroger.com">Michael Troger's portfolio</a></li>
	        		<li><a href="https://github.com/michaeltroger">GitHub</a></li>
	        		<li><a href="https://stackoverflow.com/users/5155371/michael-troger">Stack Overflow</a></li>
	        		<li><a href="https://www.linkedin.com/in/michaeltroger">LinkedIn</a></li>
					<li><a href="https://michaeltroger.com/imprint">Imprint</a></li>
				</ul>
			</footer>
		</body>
	</html>
