<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			{% if page.description %}
			<meta name="description" content="{{ page.description }}">
			{% endif %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/projects">Projects</a></li>
	        		<li><a href="/private">Private</a></li>
				<li><a href="/imprint">Imprint</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:&#x77;&#x65;&#x62;&#x40;&#x74;&#x72;&#x6f;&#x67;&#x65;&#x72;&#x2e;&#x61;&#x70;&#x70;">Email</a></li>
	        		<li><a href="https://github.com/michaeltroger">GitHub</a></li>
	        		<li><a href="https://stackoverflow.com/users/5155371/michael-troger">Stack Overflow</a></li>
	        		<li><a href="https://www.linkedin.com/in/michaeltroger">LinkedIn</a></li>
	        		<li><a href="http://paypal.me/trogermichael">PayPal</a></li>
			</ul>
			</footer>
		</body>
	</html>
